\documentclass[a4paper,parskip,10pt]{scrartcl}

\usepackage[margin=1.2cm,
%showframe% <- only to show the page layout
paperheight=350mm,
]{geometry}

\usepackage{fontspec}
%\setmainfont{Montserrat}

\newfontfamily\headingfont[Path=./fonts/]{Montserrat-Medium.ttf}
\newfontfamily\subheadfont[Path=./fonts/]{MontserratAlternates-Regular.ttf}
\newfontfamily\montaltfont[Path=./fonts/]{MontserratAlternates-Regular.ttf}
\newfontfamily\boldfont[Path=./fonts/]{WorkSans-Bold.ttf}
\newfontfamily\mediumfont[Path=./fonts/,BoldFont=WorkSans-Bold.ttf]{WorkSans-Medium.ttf}
\setmainfont[Path=./fonts/]{WorkSans-Regular.ttf}

\newfontfamily\timeregularfont[Path=./fonts/]{CooperHewitt-Book.otf}
\newfontfamily\timelightfont[Path=./fonts/]{CooperHewitt-Light.otf}

\usepackage{graphicx}
\usepackage{lipsum}
\usepackage{xcolor}
\usepackage{adjustbox}
\usepackage[most]{tcolorbox}
\usepackage{tikz}
\usepackage{hyperref}

\AddToHook{shipout/background}{%
    \put (0in,-\paperheight){\includegraphics[width=\paperwidth,height=\paperheight]{exoplanetsails_compressed.jpg}}%
}

\definecolor{conference}{HTML}{{{ '{' + json.schedule.conference.colors.primary[1:] + '}' }}}

%\AtBeginDocument{
\urlstyle{same}
\hypersetup{%
    colorlinks=false,% hyperlinks will be black
    urlbordercolor=conference,% hyperlink borders will be red
    pdfborderstyle={/S/U/W 1}% border style will be underline of width 1pt
}
%}

\begin{document}

\begin{centering}
    \color{white}
    \headingfont%
    \Huge First European Interstellar Workshop

    %
\end{centering}

\begin{centering}
    \color{white}
    \subheadfont%
    \LARGE 2\textsuperscript{nd} - 5\textsuperscript{th} December 2024, ECCL, Luxembourg

    %
\end{centering}

{{% for day in days %}}

{{% if not loop.first %}}
\newpage
{{% endif %}}

\begin{tcolorbox}[
    width=\paperwidth,
    center,
    boxrule=0pt,
    arc=0pt,
    auto outer arc,
    opacityfill=0.3,
    colframe=black,
    colback=black,
    left=1.2cm,
    ]
    \color{white}
    {\timeregularfont\Huge {{{ day.date_datetime.strftime("%A") | upper }}}}
    \normalsize \raisebox{1ex}{%
    {{{ day.date_datetime.strftime("%B") }}} %
    {{{ day.date_datetime.day }}}%
    {{{ 'st' if day.date_datetime.day == 1 else '' }}}%
    {{{ 'nd' if day.date_datetime.day == 2 else '' }}}%
    {{{ 'rd' if day.date_datetime.day == 3 else '' }}}%
    {{{ 'th' if day.date_datetime.day > 3 else '' }}}%
    }
\end{tcolorbox}

{{% macro speakers(speaker_list) -%}}
    {{% if speaker_list and speaker_list|length > 0 %}}%
    \\[0ex]%
    {\color{gray}\footnotesize%
        {{% for person in speaker_list %}}%
            {{% if not loop.first -%}}
                {{{ person.public_name | abbreviate_name | replace(". ", ".~") }}}%
            {{%- else -%}}
                {{{ person.public_name | replace(". ", ".~") }}}%
            {{%- endif -%}}
            {{% if person.affiliation and (loop.last or person.affiliation != loop.nextitem.affiliation) %}}%
                \ ({{{ person.affiliation | replace(". ", ".~") }}})%
            {{% endif %}}%
            {{% if not loop.last %}},\@ {{% endif %}}%
        {{% endfor %}}%
    }%
    {{% endif %}}%
{{%- endmacro %}}


\begin{tcolorbox}[width=\linewidth,center,boxrule=0pt,arc=0pt,auto outer arc,colframe=white,breakable,height fixed for=all]
    {{% for event in day['rooms']['Banquet Room'] %}}
    \begin{tikzpicture}

        \node at (-1,0) {}; % Alignment node for bounding box

        {{% if event.break %}}

            \fill[rounded corners=1mm,gray!50!white]
            (1,-0.7) rectangle (16.2,0.7) node[pos=.5,gray!50!black] {\mediumfont {{{ event.title }}}};

            \node[anchor=south] (S) at (current bounding box.west -| 0,0) {\timeregularfont\Large {{{ event.start}}} };
            \node[anchor=north] (E) at (current bounding box.west -| 0,0) {\timelightfont\textendash~ {{{ event.end }}} };     

        {{% elif event.subevents %}}

            \definecolor{thistrack}{HTML}{{{ '{' + event.color[1:] + '}' }}}

            \node[style={inner sep=0, outer sep=0}] (A0) at (1.4,0) {};

            {{% for subevent in event.subevents %}}
                \node[anchor=north west,text width=14.1cm,align=left,minimum height=1.1cm]
                (A{{{loop.index}}}) at (A{{{loop.index - 1}}}.south west)
                {\mediumfont%
                {{{ subevent.title }}}%
                {{{ speakers(subevent.persons) }}}%
                %\\\texttt{ {{{ subevent.code }}} }
                };


                {{% if loop.first %}}
                \node[] (S) at (A{{{loop.index}}} -| 0,0) {\timeregularfont\Large {{{ subevent.start}}} };
                {{% else %}}
                \node[] (S) at (A{{{loop.index}}} -| 0,0) {\timelightfont\large {{{ subevent.start}}} };
                {{% endif %}}

            {{% endfor %}}

            % Draw rounded rectangle next to that
            \fill[rounded corners=1mm,thistrack] (A1.north west -| 1,-1) rectangle (A{{{ event.subevents | length }}}.south west -| 1.2,1) {};

            % Track title
            \node[anchor=south west] at (A0.north west -| 0.8,0) {\large\boldfont\color{thistrack}%
                {{{ event.title | replace('&', '\&' )}}}%
            };

        {{% else %}}
            \definecolor{thistrack}{HTML}{{{ '{' + event.color[1:] + '}' }}}

            \node[anchor=west,text width=14cm,align=left,minimum height=1.3cm] (T) at (1.3,0) {\mediumfont%
            {{{ event.title }}}%
            %\ \texttt{{{ '{' + event.code + '}' }}}%
            {{% if event.abstract %}}%
                %~\\[1ex]%
                {%
                \par%
                \setlength{\parskip}{1ex}
                \color{thistrack!20!black}%
                \small%
                \fontfamily{\familydefault}\selectfont%
                {{{ event.abstract }}}%
                }%
            {{% endif %}}%
            {{% if event.track != "Keynote" %}}%
            {{{ speakers(event.persons) }}}%
            {{% endif %}}%
            };

            % Draw rounded rectangle next to that
            \fill[rounded corners=1mm,thistrack] (T.north west -| 1,-1) rectangle (T.south west -| 1.2,1) {};

            \node[anchor=south] (S) at (current bounding box.west -| 0,0) {\timeregularfont\Large {{{ event.start}}} };
            \node[anchor=north] (E) at (current bounding box.west -| 0,0) {\timelightfont\textendash~ {{{ event.end }}} };     

        {{% endif %}}

   

        % bottom padding
        \path (current bounding box.south) ++(0,-1mm) node[anchor=north] {};
    \end{tikzpicture}
    %\vspace{0mm plus 3cm}
    \vspace{0cm plus 1cm minus 2mm}
    %\vfill
    {{% endfor %}}

\end{tcolorbox}

{{% endfor %}}



\end{document}